<div class="row">
    <div class="col-xs-12">
        <img *ngIf="recipe" src="{{recipe.imagePath}}" alt="" class="img-reponsive"
            style="max-width:500px; max-height:500px;" />
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1 *ngIf="recipe">{{recipe?.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" onclick="menuClicked($(this))">
                Manage Recipe <span class="caret"></span>
            </button>
            <ul appdropdown class="dropdown-menu">
                <li><a class="dropdown-item" href="#" (click)="onToShoppingList()">To Shopping List</a></li>
                <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
                <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12" *ngIf="recipe">
        {{recipe.description}}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" 
            *ngFor="let ingredient of recipe?.ingredients">
            {{ingredient.name}} - {{ingredient.amount}}
        </li>
        </ul>
    </div>
</div>